absl-py
astor==0.8.1
certifi==2020.12.5
click==7.1.2
cycler==0.10.0
gast==0.2.2
google-pasta==0.2.0
grpcio 
h5py==2.8.0
importlib-metadata
Keras==2.3.1
Keras-Applications
Keras-Preprocessing==1.1.0
kiwisolver
Markdown
matplotlib
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy
olefile==0.46
opt-einsum==3.1.0
Pillow
protobuf==3.13.0
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.3.1
scipy
six
tensorboard==2.0.0
tensorflow==2.0.0
tensorflow-estimator==2.0.0
termcolor==1.1.0
tornado
Werkzeug==1.0.1
wrapt==1.12.1
zipp
